
.main {
    height: 100vh;
    display: flex;

    justify-content: center;
    background-color: #EFE6E8;
}

.cadastro {
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-weight: 800;
    letter-spacing: 2px;
    color: #5e4c4d;
    background: #e6dfdf;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #d1c9c9;
}

.HomePage {
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bd1313;
    font-weight: 700;
    margin: 0;
}